@media only screen and (min-width: 320px) {
  .App {
    text-align: center;
  }
  
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    height: 40vmin;
    pointer-events: none;
  }
  
  .App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
  }
  
  .App-link {
    color: #61dafb;
  }
  
  .Search-icon {
    height: 1.2rem;
    align-self: center;
    cursor: pointer;
    padding: 0 5px;
  }
  
  .Search-container {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 0 .5rem;
  }
  
  .NavBar-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  
  .NavBar-item {
    cursor: pointer;
    color: #CCCCCC;
  }
  
  .NavBar-item-active {
    color: #4869E5;
    cursor: pointer;
    margin-block-end: .3em;
  }
  
  .line {
    border-width: .2rem;
    border-color: #4869E5;
    border-style: solid;
    background: #4869E5;
    border-radius: .2rem;
  }

  .Cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    margin-bottom: 6rem;
  }
  
  .Card-container {
    margin: 20px;
    border-width: .04rem;
    border-color: #CCCCCC;
    border-style: solid;
    border-radius: 1rem;
    box-shadow: 0px 0px 10px 0px rgba(173,173,173,1);
    height: max-content;
    width: 25rem;
  }
  
  .Card-photo {
    width: 100%;
    height: 8rem;
    border-top-left-radius: 1rem;
    border-top-right-radius: 1rem;
    cursor: pointer;
  }
  
  .Card-title {
    text-align: left;
    padding: .5rem 1rem;
    margin: 0;
  }
  
  .Card-info {
    text-align: left;
    padding: .5rem 1rem;
    margin: 0;
    color: #CCCCCC;
  }
  
  .Card-icons-container {
    display: flex;
    margin: .5rem;
  }
  
  .More-icon {
    flex: 1;
    height: 1.2rem;
    align-self: center;
    cursor: pointer;
    margin: 0 5px;
  }
  
  .News-details-container {
    position: relative;
    display: inline-block;
    text-align: center;
  }
  
  .News-details-header {
    background: #F0F0F0;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
    height: 27.5rem;
    position: relative;
  }
  
  .News-details-photo {
    width: 100%;
    height: 25rem;
    border-bottom-left-radius: 1rem;
    border-bottom-right-radius: 1rem;
  }
  
  .Back-icon {
    height: 1.2rem;
    position: absolute;
    top: 10px;
    left: 10px;
    cursor: pointer;
  }
  
  .News-details-title {
    color: #FFFFFF;
    position: absolute;
    bottom: 5rem;
    margin: 0 1.5rem;
    font-weight: bolder;
    text-align: left;
  }
  
  .News-details-icons-container, .content-left, .content-right {
    display: flex;
    flex: 1;
  }
  
  .News-details-info {
    display: flex
  }
  
  .News-details-comment-container {
    margin: 1rem
  }
  
  .News-details-comment {
    display: flex;
    flex: 1;
  }
  
  .News-details-input-container {
    margin: 0 0 0 1rem;
    border-width: 2px;
    border-radius: 20px;
    border-color: rgb(231, 231, 231);
    outline: none;
    border-style: solid;
    width: 100%;
    height: auto;
  }
  
  .News-details-input {
    margin: .6rem;
    border: none;
    outline: none;
    display: flex;
    justify-content: flex-start;
    align-content: center;
    width: 70%;
  }
  
  .News-details-input::placeholder {
    color: rgb(194, 192, 192);
  }
  
  .News-details-info p {
    margin-top: auto;
    margin-bottom: auto;
    color: #828282;
  }
  
  .icon {
    height: 1.2rem;
  }
  
  .content-left {
    justify-content: flex-start;
  }
  
  .content-right {
    justify-content: flex-end;
  }
  
  .content-right img {
    margin: .6rem 1.5rem .6rem 0
  }
  
  .content-left img {
    margin: .6rem .6rem .6rem 1.5rem
  }
  
  .text {
    margin: 0 1rem;
    text-align: left;
    color: #828282;
  }
  
  .profile-pic {
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
  }
  
  .Comment-icon {
    align-self: center;
    padding: 0 .3rem;
    height: 1rem;
  }
  
  .prueba1 {
    position: relative;
  }
  
  .prueba2 {
    display: flex;
    position: absolute;
    right: .5rem;
    align-self: center;
  }
  
  .Comment-play-container {
    display: flex;
    align-self: center;
    margin: 0 .5rem
  }
  
  .flex-1 {
    flex: 1
  }
  
  .flex-5 {
    flex: 5
  }

  .Footer-container {
    display: flex;
    width: 100%;
    position: fixed;
    bottom: 0;
    background: #FFFFFF;
    margin-bottom: 0;
    flex-wrap: wrap;
  }

  .Footer {
    display: flex;
    justify-content: space-around;
    margin-left: auto;
    margin-right: auto;
  }

  .Footer img {
    margin: 1rem 0;
  }
}
